{% extends "layout.njk" %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">{{ activity.title }}</h1>
  <p class="lead">{{ activity.description }}</p>
</div>


  {% for att in attendee %}
  <li>{{ att.name }}</li>

  {% endfor %}

<form method="POST" action="/activities/{{ activity.id }}">
  <button type="submit">
    Close Activity!
  </button>
</form>

{% endblock %}
