{% extends "layout.njk" %}

{% block content %}

  Activity details  :

  {{ activity_id }}
  {{ activity_title }}
  {{ activity_description }}
  {{ activity_status }}


  <button type="submit">
    Close Activity!
  </button>

{% endblock %}
