{% extends "layout.njk" %}

{% block content %}

Activity details  :

<li>{{ activity.title }}</li>
<li>{{ activity.description }}</li>
<li>{{ attendee.name }}</li>

<form method="POST" action="/activities/{{ activity.id }}">
  <button type="submit">
    Close Activity!
  </button>
</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    {% for expense in expenses %}
    <tr>
      <td>{{ expense.title }}</td>
      <td>{{ expense.date }}</td>
      <td>{{ expense.amount/100 }} €</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<form method="GET" action="/activities/{{ activity.id }}/create-expense/">
  <button type="submit">
    Create a new expense
  </button>
</form>

{% endblock %}
