{% extends "layout.njk" %}

{% block content %}

<br />

  <h4 class="card-title">{{activity.title}}</h4>
  <p class="card-text">{{activity.description}}</p>
  <h6> Attendees </h6>

  <ul class="list-unstyled">

  {% for att in attendee %}
    <li class="float-left mr-1">{{ att.name }} </li>
    {% endfor %}

  </ul>


<br />
<h3>Expenses</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

    {% for expense in expenses %}

    <tr>
      <td>{{ expense.title }}</td>
      <td>{{ expense.date }}</td>
      <td>{{ expense.amount/100 }} €</td>
      <td><a class="btn btn-outline-secondary" href="/activities/{{ activity.id }}/expenses/{{expense.id}}" role="button">view expense</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<form method="GET" action="/activities/{{ activity.id }}/create-expense/">
  <button type="submit" class="btn btn-info mb-3">
    Create a new expense
  </button>
</form>

<br />

<h3>Balance </h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    {% for balance in balances %}
    <tr>
      <td>{{ balance.from }}</td>
      <td>{{ balance.to }}</td>
      <td>{{ balance.value/100 }} €</td>
    </tr>
  {% endfor %}
  </tbody>
</table>



<br />

<form method="POST" action="/activities/{{ activity.id }}">
  <button type="submit" class="btn btn-danger">
    Close Activity!
  </button>
</form>
<br />


{% endblock %}
