{% extends "layout.njk" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">{{ activity.title }}</h1>
  <p class="lead">{{ activity.description }}</p>
</div>

<h3>Participants:</h3>

{% for att in attendee %}

<ul class="list-group">
  <li class="list-group-item">{{ att.name }}</li>
</ul>

{% endfor %}

<h3>Expenses:</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>

    {% for expense in expenses %}

    <tr>
      <td>{{ expense.title }}</td>
      <td>{{ expense.date }}</td>
      <td>{{ expense.amount/100 }} €</td>
    </tr>
  {% endfor %}
  </tbody>
</table>



<form method="POST" action="/activities/history/{{ activity.id }}">
  <button type="submit" class="btn btn-danger">
    reOpen Activity!
  </button>
</form>

{% endblock %}
