{% extends "layout.njk" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Sharepay</h1>
  <p class="lead">A simple way to manage your activities</p>

</div>

<div class="row justify-content-around">
  <form class="form-inline" method="POST" action="/authenticate">

      <div class="col-md-5 mb-3">
        <input type="text" name="username" class="form-control is-valid" id="validationServer03" placeholder="email" required>
      </div>

      <div class="col-md-5 mb-3">
        <input type="password" name="password" class="form-control is-valid" id="validationServer03" placeholder="password" required>
      </div>

      <div class="col-md-2 mb-3">
        <button type="submit" class="btn btn-secondary">
          Sign in
        </button>
      </div>

</form>

</div>

<p align="center">You don't have account?</p>

<div class="row justify-content-around">

  <a class="btn btn-primary btn-lg" href="/auth/facebook" role="button">Log in with Facebook</a>
</div>

<p align="center">Or</p>

<div class="row justify-content-around">

  <a class="btn btn-primary btn-lg" href="/signup" role="button">Create account</a>
</div>


{% endblock %}
