{% extends "layout.njk" %}

{% block content %}

<div>
  <form method="POST" action="/authenticate">
  <input type="text" name="username" placeholder="Username" />
  <input type="password" name="password" placeholder="Password"/>
  <button type="submit">
    Sign in!
  </button>
</form>
</div>

{% endblock %}
