{% extends "layout.njk" %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Welcome {{user.firstname}} {{user.name}}</h1>
  <p>username: {{user.login}}</p>
</div>

<h3>Your activities</h3>

  {% for activity in activities %}
    <li><a href="/activities/{{activity.id}}">{{activity.title}}</a></li>
  {% endfor %}

  <a href="/activities/history"><input type="button" value="Activity history"></a>
  <a href="/activities/create"><input type="button" value="Create Activity"></a>


{% endblock %}
