{% extends "layout.njk" %}

{% block content %}

  <div>
<h1>Welcome</h1>
<div> name: {{user.name}}</div>
<div> firstname: {{user.firstname}}</div>
<div> username: {{user.login}}</div>
  </div>


{% endblock %}
