{% extends "layout.njk" %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Welcome {{user.firstname}}</h1>
  <p>username: {{user.login}}</p>
</div>

<h3>Your activities</h3>


{% endblock %}
