{% extends "layout.njk" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Sharepay</h1>
  <p class="lead">A simple way to manage your activities</p>
  <small>Powered by 2fdh</small>
</div>

    <form method="POST" action="/create_user">

        <div align="center">
          <div class="form-group">
          <input type="email" required="required" name="username" placeholder="email" class="form-control"/>
          </div>

          <div class="form-group">
          <input type="password" name="password" required="required" placeholder="Password" class="form-control"/>
          </div>

          <div class="form-group">
          <input type="firstname" name="firstname" required="required" placeholder="firstname" class="form-control"/>
          </div>

          <div class="form-group">
          <input type="lastname" name="lastname" placeholder="lastname" required="required" class="form-control"/>
          </div>

          <button type="submit" class="btn btn-info btn-lg">
            Sign up
          </button>
        </div>

  </form>

  <style>
  .jumbotron {
      background-image: url(https://images.unsplash.com/photo-1459257831348-f0cdd359235f?auto=format&fit=crop&w=1050&q=80);
      background-position: 0% 60%;
      background-size: cover;
  }
  </style>

{% endblock %}
